body{
    background-image: url(../img/clouds.jpeg);
    background-attachment: fixed;
    background-repeat: repeat;
    color:whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
    margin:0rem;
}
.wrapper{
    width: 98%;
    background-color:rgb(44, 102, 132, 0.9);  
    margin:0 auto;
}
nav{
    color:whitesmoke;
    font-size: 1rem;
    padding: 3.2rem 2rem;
    background-color:rgb(3, 48, 68); 
}
a{
    color: white;
    padding: 1rem;
}
a:hover{
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bolder;
}
.heading-section h1{
    margin: 2rem 0rem;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    font-weight: 600;
}
.heading-section i{
    color:whitesmoke;
    padding: 0;
    margin: 0;
}
.inline-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;      
}
.inline-ul li{
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 0rem;   
}
.inline-ul a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.heading-ul{
    margin: -2rem  auto 2rem auto;
    font-size: 2.5rem;
    text-align: center;
}
.about-section{
    padding: 0rem;
    padding-bottom: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;  
    margin: 2rem 0 7rem 0;
}
.leftheader{
    flex-basis: 35%;
    padding-top: 1rem;
}
.leftheader img{
    display: block;
    height: 12.8em;
    width: 12.8rem;
    border-radius: 100%; 
    border: white 2px solid;
    margin: 0 auto;
}
.rightheader{
    flex-basis: 65%;
}
.rightheader article{
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 1rem;
} 
.rightheader h2{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.5rem;
}
.body-section,.buymecoffee, footer{
    background-color:rgb(72, 81, 35,0.2);
    padding: 5rem 0rem;
}
.history-wrapper{
    margin: 5rem 1rem;
    padding: 0;
}
.body-section section h2, .swiper-container h2{ 
    margin: 3rem 0rem;
    padding: 0rem 2rem;
    font-size: 2.3rem;
}
.body-section h3{
    margin: 2.5rem 0 0 0;
    padding: 0rem 4.15rem;
    font-size: 1.45rem;
}
.body-section p{
    margin: -0.1rem 0 ;
    padding: 0rem 4.1rem;
}
.body-section section ul{
    font-size: 1rem;
    margin: 0.5rem 0rem;
    padding: 0 6rem;
}
.body-section li{
    margin: 0;
    padding: 0;
}


.swiper-container{
    box-sizing: border-box;
    background-color:rgb(44, 102, 132, 0.9); 
    font-size: 1.5rem;
    padding: 1rem 0 8rem 2rem;
}

.swiper-container header{
    color: white;
    text-align: center;
}


.swiper-container .gallery-img{
    display: none;
    max-height: 600px;
}

.swiper-container .active{
    display: block;
}

.swiper-container .image-gallery{     
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.swiper-container .btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center; 
}

.swiper-container .btn{
    background-color:#0074d9;
    color:white;
    padding:6px 21px;
    border-color: transparent;
    border-radius: 5px;
    cursor:pointer; 
}

.swiper-container .prev{
    margin-right: 20px;
}

.swiper-container .btn:disabled {
    background-color: #777;
    cursor: not-allowed;  
}

/* Swiper Content */
.swiper-slide{
    text-align: center;
}

.swiper-container img{
    height:400px;

}
.buymecoffee h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}
.buymecoffee p{
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;

}
.buymecoffee label{
    display: block;
    font-size: 1.1rem;
    font-style: italic;
    width: 75%;
    margin: 1rem auto;
}
.buymecoffee textarea{
    width: 100%;
    display: block;
    height: 2rem;
    background-color:rgba(198, 204, 207, 0.3);  
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
}
.buymecoffee button{
    display: block;
    border:none;
    font-size: 1rem;
    padding:0.5rem;
    background-color:rgba(144, 213, 247, 0.3);  
    color:white;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
    border-radius: 5%;
}
.buymecoffee button:hover{
    font-weight: bolder;
    background-color: #012741;
    color: whitesmoke;
    text-decoration: underline;
    border: darkblue 1px solid;
    border-radius: 5%;
}
footer{
    text-align: center;
    padding: 1rem;
}
footer ul{
    font-size: 2.5rem;
}
.projects-collection fieldset{
    border: white 2px solid;
    border-radius: 1rem;
    margin: 2rem
}
.projects-collection legend{
    font-size: 1.25rem;
    font-style:normal;
    font-weight: bolder;
    border: white 2px solid;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.projects-collection ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.projects-collection li{
    padding: 0 auto;
    margin: 0.5rem 0;
}
.projects-collection a{
    text-decoration:underline;
}


